.App {
  text-align: center;
  justify-content: center;
}

.inputs {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
  align-content: center;
}

input {
  height: 30px;
  text-align: center;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}